@page "/CreateUser"
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr
@using BlazorApp1.Auth
@using BlazorApp1.Services
<h3>CreateUser</h3>


<AuthorizeView>

    <NotAuthorized>
        <h3>Please create your user profile</h3>
        <label>Username:</label>
        <input type="text" @bind="username"/>
        <label>Password:</label>
        <input type="password" @bind="password"/>
        
        @if (!string.IsNullOrEmpty(errorLabel))
        {
            <label style="color: red"> @errorLabel </label>
        }
        <button @onclick="HandleCreateAsync">Create user</button>
    </NotAuthorized>
    <Authorized>
        <h3>Welcome, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>


@code 
{
    private string username;
    private string password;
    private string errorLabel;
    
    private async Task HandleCreateAsync()
    {
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).CreateUser(username, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
    
}