@page "/"
@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>Welcome to Reddat</h1>

<AuthorizeView>
    
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized> 
    <NotAuthorized>
         lol you are not logged in!
    </NotAuthorized>
</AuthorizeView> 
<button @onclick='() => NavMgr.NavigateTo("User")'>go to login</button>