@page "/"
@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>Welcome to Reddat</h1>

<AuthorizeView>
    
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized> 
    <NotAuthorized>
        lol you are not logged in!
        <button @onclick='() => NavMgr.NavigateTo("Login")'>go to login</button>
        <button @onclick='() => NavMgr.NavigateTo("CreateUser")'>go to create user</button>
    </NotAuthorized>
</AuthorizeView> 


