@page "/Posts"
@using BlazorApp1.Services
@using DataTransferObjects

@page "/post"
<PageTitle>Post</PageTitle>

@if (!string.IsNullOrEmpty(post))
{
    <p>Post created successfully! Title: @post</p>
}

@code {
    private string post;
    private string title;
    private string content;
    private List<(string Title, string Content)> posts = new List<(string, string)>();

    private void HandleSubmit(string Title, string Content)
    {
        if (!string.IsNullOrEmpty(Title) && !string.IsNullOrEmpty(Content)) 
        {
            posts.Add((Title, Content));
            post = Title;
            title = string.Empty;
            content = string.Empty;
        }
        else
        {
            Console.WriteLine("No fields should be empty.");
        }
    }

    private async Task TriggerSubmit()
    {
        HandleSubmit(title, content);
    }
}

<div>
    <label>Title:</label>
    <InputText @bind-Value="title" />
</div>
<div>
    <label>Content:</label>
    <InputTextArea @bind-Value="content" />
</div>
<button class="btn btn-primary w-100" @onclick="TriggerSubmit">Create Post</button>


<h5>View Posts</h5>
<div>
    @if (posts.Count == 0)
    {
        <h7>No posts to view</h7>
    }
    else
    {
        @foreach (var post in posts)
        {
            <div class="post-box">
                <h4 class="post-title">@post.Title</h4>
                <p>@post.Content</p>
            </div>
        }
    }
</div>
