@page "/Posts"
@using BlazorApp1.Services
@using DataTransferObjects

<PageTitle>Post</PageTitle>

<h3>Write a post!</h3>

@if (post != null)
{
    <p>Post created successfully! Title: @post</p>
}

@code {
    private string post;
    private string title;
    private string content;

    private void HandleSubmit(string Title, string Content)
    {
        if (!string.IsNullOrEmpty(Title) && !string.IsNullOrEmpty(Content)) 
        {
            title = Title;
           content = Content;
           post = Title;
        }
        else
        {
            Console.WriteLine("No fields should be empty.");
        }
    }
    private async Task TriggerSubmit()
    {
        HandleSubmit(title, content);
    }

}
<div>
    <label>Title:</label>
    <InputText @bind-Value="title"/>
</div>
<div>
    <label>Content:</label>
    <InputTextArea @bind-Value="content"/>
</div>
<button class="btn btn-primary w-100"  @onclick="TriggerSubmit">Create Post</button>