@page "/User"
@using BlazorApp1.Services
@using DataTransferObjects

@inject  IUserService UserService

<PageTitle>User</PageTitle>

@if (isLoggedIn)
{
    <h3>Welcome to Reddat, @username!</h3>
    <p>Start browsing.</p>
}
else
{
    <h5>Welcome to Reddat!</h5>
    <h7>@error</h7>
}


<div class="nav-item px-3">
    <input type="text" class="form-control my-2" placeholder="Username" @bind="username"/>
    <input type="password" class="form-control my-2" placeholder="Password" @bind="password"/>
    <button class="btn btn-primary w-100" @onclick="TriggerLogin">Login</button>
</div>

@code {
    private string username;
    private string password;
    private bool isLoggedIn;
    private User user;

    private string error = "Please log in to access content.";

    private async Task HandleLoginAsync(string Username, string Password)
    {
        Console.WriteLine("hi");
        IEnumerable<UserDTO> users = await UserService.GetUsersAsync();
        if (!string.IsNullOrEmpty(Username) && !string.IsNullOrEmpty(Password))
        {
            UserDTO? userLoggingIn = null;
            foreach (UserDTO user in users)
            {
                if (user.Username.Equals((Username)))
                {
                    userLoggingIn = await UserService.GetUserAsync(user.Id);
                }
            }
            if (userLoggingIn == null)
            {
                error = "User does not exist.";
                isLoggedIn = false;
            }
            else if (userLoggingIn.Username.Equals(Username))
            {
                username = Username;
                isLoggedIn = true;
            }
            else
            {
                error = "Username or password does not match.";
            }
        }
        else
        {
            isLoggedIn = false;
            error = "Login failed.";
            Console.WriteLine("Login failed.");
        }
    }

    private async Task TriggerLogin()
    {
        await HandleLoginAsync(username, password);
    }

}