@page "/User"
@using BlazorApp1.Auth
@using BlazorApp1.Services
@using DataTransferObjects
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr
@inject  IUserService UserService

<PageTitle>User</PageTitle>

<AuthorizeView>
    
    <NotAuthorized>
        <h3>Please login</h3>
        <label>User name:</label>
        <input type="text" @bind="username"/>
        <label>Password:</label> 
        <input type="password" @bind="password"/>
        @if (!string.IsNullOrEmpty(errorLabel))
        {
            <label style="color: red"> @errorLabel </label>
        }
        <button @onclick="HandleLoginAsync">Log in</button> </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3> </Authorized>
</AuthorizeView>

@code {
    private string username;
    private string password;
    private string errorLabel;

    private string error = "Please log in to access content.";

    private async Task HandleLoginAsync()
    {
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).Login(username, password);
            navMgr.NavigateTo("/Home");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

}

